/*->VARIABLES<-----------------------------------*/

:root{
    --primary-color: #edcb20;
}

/*->GENERAL<-----------------------------------*/

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    text-decoration: none !important;
    color: inherit;
}

.divider{
    width: 4%;
    margin: 0 auto;
    height: .3rem;
    background: var(--primary-color);
}

ul li{
    list-style: none;
}



/*->HEADER<-----------------------------------*/


header{
    width: 100%;
}

nav{
    background-color: #000;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 7px 50px rgba(0,0,0,0.35);
}

.logo-section{
    font-size: 2.4rem;
    padding: .5rem;
    font-weight: bold;
}

.menu-button{
    float: right;
    background-color: #222;
    color: #ddd;
    font-size: 1.8rem;
    padding: .5rem 1rem;
    outline: 0;
    border-radius: .3rem;
    border: 0;
    cursor: pointer;
}

.menu-button:focus{
    outline: none;
}

nav ul{
    background-color:#000;
    min-height: 0;
    width: 100%;
    list-style-type: none;  
    overflow: hidden;
    text-align: center;
    transition: max-height 0.5s;
    max-height: 0;
}

nav ul.show{
max-height: 50rem;
}

nav ul li {
box-sizing: border-box;
width: 100%;
padding: 1.5rem;
border-bottom: .1rem solid #ddd;
}

nav ul li > a {
position: relative;
font-size: 1.8rem;
color: #fff;
font-weight: 400;
text-transform: uppercase;
}

nav ul li a:hover{
color:var(--primary-color);
transition: all 0.5s;
}

li > a:before {
content: '';
position: absolute;
width: 100%;
height: .4rem;
bottom: -4px;
left: 0;
background-color: #555;  
transition: all 0.5s;
transform: scale(0);
}

li > a:hover:before {
background-color: var(--primary-color);
transform: scale(1);  
}

/*->MAIN<------------------------------------------------*/

#main{
    background: linear-gradient(rgba(0, 0, 0, 0.562),rgba(0, 0, 0, 0.616)),url('../images/g-img17.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 7rem 0;
}

#main h1{
    font-size: 4rem;
    font-weight: bold;
}

#main p{
    font-size: 2rem;
    margin-bottom:3rem;
}

#main p, #main h1{
    text-align: center;
    padding: 1rem;
}

.main-box{
    padding-top:5rem;
}

.main-articles__info{
    display: flex;
}

.main-articles__info > img{
    width: 13rem;
    height: 13rem;
    margin-top:1.5rem;
}

.main-articles__info p{
    text-align: left !important;
    margin-left: .5rem;
    transition: 0.3s;
}

.main-articles__info a:hover > p{
    color: var(--primary-color);
    transition: 0.3s;
}

.main-articles__info span{
    font-weight: bold;
    display: flex;
}

.main-box__mainCard{
    position: relative;
    height: 40rem;
    border-bottom: 5px solid var(--primary-color);
}

.main-box__mainCard .main-box__title{
    position: absolute;
    bottom:2.5rem;
    padding-left: .7rem;
    
}

.main-box__mainCard .main-box__title a, .main-box__bottom a{
    font-size: 1.7rem;
    color: var(--primary-color);
    font-weight: bold;
    transition: 0.5s;
}

.main-box__mainCard .main-box__title a:hover , .main-box__bottom a:hover{
    color: #fff;
    transition: 0.5s;
}

.main-box__mainCard .main-box__title h2{
    width: 80%;
    font-size: 2.5rem;
    font-weight: bold;
}

.main-box__mainCard, .main-box__leftCard , .main-box__rightCard{
    width: 100%;
    padding-top: 2rem;
}

.main-box__bottom{
    width: 100%;
    padding: 5.5rem .8rem;
    background: rgba(0, 0, 0, 0.493);
    border-bottom: 5px solid var(--primary-color);
}

/*->WILD<------------------------------------------------*/

#wild{
    padding: 40px 0;
}

#wild .wild-first-box{
    width: 100%;
    text-align: center;
}

.wild-box__title{
    margin:3rem 0;
}

.wild-box__title h1 , .wild-box__title h3{
    padding-top:1rem
}

.wild-second-box{
    margin-top:5rem;
}

.wild-img{
    height: 40rem;
    width: 100%;
}

.wild-img img{
    height: 100% !important;
}



/*->MEDIA QUERYS<------------------------------------------------*/


@media screen and (min-width: 600px) {
    .menu-button{
        display: none;
    }

    .logo-section{
        float: left;
    }
    nav ul{
        background:#000;
        float:right;
        margin-right: 2rem;
        width:auto;
        max-height: none;
    }

    nav ul li{
        display: inline-block;
        border-bottom: 0;
        padding: 2rem;
        width: auto;
    }
}

